
<div class="row">
  <div class="col-3">
    <shop-menu [category]="categoryKey"></shop-menu>
  </div>
  <div class="col">
    <div *ngIf="pagedProducts.length" class="row">
      <ng-container *ngFor="let p of pagedProducts; let i = index">
        <div class="col-md-6">
          <is-product-card [product]="p"></is-product-card>
        </div>
      </ng-container>
    </div>
    <pagination
      (goPage)="goToPage($event)"
      (goNext)="onNext()"
      (goPrev)="onPrev()"
      [pagesToShow]="3"
      [page]="page"
      [perPage]="limit"
      [count]="total"></pagination>
  </div>
</div>

