<div class="row">
  <div class="col-md-6">
    <div class="auth-form mt-3">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <ng-content select="h1"></ng-content>

        <div class="form-group">
          <input
            type="email"
            placeholder="Email address"
            formControlName="email"
            class="form-control"
            id="email"
            required/>

          <!-- Email validation -->
          <div
            *ngIf="email.touched && email.errors?.required"
            class="alert alert-danger">
            Email is required
          </div>

          <div
            *ngIf="email.touched && email.errors?.email"
            class="alert alert-danger">
            Invalid email format
          </div>
        </div>

        <div class="form-group">

          <input
            type="password"
            placeholder="Enter password"
            formControlName="password"
            class="form-control"
            id="password"
            required
          />

          <!-- Password validation -->
          <div
            *ngIf="password.touched && password.errors?.required"
            class="alert alert-danger">
            Password is required
          </div>

          <div
            *ngIf="password.touched && password.errors?.minlength"
            class="alert alert-danger">
            Minimum length of password is 6 symbols
          </div>

          <div
            *ngIf="password.touched && password.errors?.maxlength"
            class="alert alert-danger">
            Maximum length of password is 10 symbols
          </div>
        </div>

        <ng-content select=".error"></ng-content>

        <div class="row">
          <div class="col">
            <ng-content select="button"></ng-content>
          </div>
          <div class="col text-right align-self-center">
            <ng-content select="a"></ng-content>
          </div>
        </div>


      </form>
    </div>

  </div>
</div>


