<div class="auth-form">
  <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
    <ng-content select="h1"></ng-content>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        placeholder="Email address"
        formControlName="email"
        class="form-control"
        id="email"
        required/>

      <!-- Email validation -->
      <div
        *ngIf="email.touched && email.errors?.required"
        class="alert alert-danger">
        Email is required
      </div>

      <div
        *ngIf="email.touched && email.errors?.email"
        class="alert alert-danger">
        Invalid email format
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Enter password"
        formControlName="password"
        class="form-control"
        id="password"
        required
      />

      <!-- Password validation -->
      <div
        *ngIf="password.touched && password.errors?.required"
        class="alert alert-danger">
        Password is required
      </div>

      <div
        *ngIf="password.touched && password.errors?.minlength"
        class="alert alert-danger">
        Minimum length of password is 5 symbols
      </div>

      <div
        *ngIf="password.touched && password.errors?.maxlength"
        class="alert alert-danger">
        Maximum length of password is 10 symbols
      </div>
    </div>

    <ng-content select=".error"></ng-content>

    <div class="auth-form__action">
      <ng-content select="button"></ng-content>
    </div>
    <div class="auth-form__toggle">
      <ng-content select="a"></ng-content>
    </div>
  </form>
</div>
