.dropdown-toggle {
  cursor: pointer;
}

.navbar-nav {
  display: flex;
  width: 100%;

  .nav-item {
    &:first-child {
      margin-right: auto;
    }
  }
}

.item-auth {
  color: rgba(255, 255, 255, 0.5);
  .nav-link {
    display: inline-block;
  }

}

