.sidebar {
  border-radius: 0.2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  &.bg-dark {
    .nav-item{
      &:first-child{
        .nav-link{
          border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        }
      }

      .nav-link {
        color: rgba(255, 255, 255, 0.5);
        &:visited,
        &:hover,
        &:active,
        &.active{
          color: rgba(255, 255, 255, 0.75);
        }
      }
    }
  }
}

