<nav class="bg-dark sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link"
           routerLink="/products"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}">
          All Categories
        </a>
      </li>
      <li class="nav-item" *ngFor="let cat of categories$ | async">
        <a class="nav-link"
           [routerLink]="['/products/', cat.key]"
           routerLinkActive="active">
          {{ cat.name }}
        </a>
      </li>
    </ul>
  </div>
</nav>

